@media (min-width: 480px) {
	.bgTopo {
		background-image: url(../img/bg.jpg);  
		background-size: cover; 
		background-attachment: fixed;
	}
	#hamburger > span{
		background-color: #EE2B7A;
	}
	#hamburger {
		background-color: transparent;
	}
	.tituloTopo {
		font-weight: 20; 
		font-size: 60px; 
		color: #fff		
	}
	.subTituloTopo {
		color: #fff; 
		font-size: 20px; 
		font-weight: bold
	}
	.textoTopo {
		color: #fff; 
		font-size: 20px
	}
	.divImagemAppTopo{
		/* TO-DO quando for mobile não usar o script para pegar o tamanho do primeiro bloco, definir uma altura para dar pra mostrar a imagem também.*/
		display: none; 
	}
	.divBtnTopoAndroid {
		text-align: center;
	}
	.divBtnTopoApple {
		text-align: center;
	}
	.button.is-primary.is-outlined{
		border-color: #EE2B7A;
		color: #fff;
	}
	.button.is-primary.is-outlined:hover
	{
		background-color: #EE2B7A;
		border-color: #EE2B7A;
		color: #fff;
	}
	.button.is-primary.is-outlined:focus {
		background-color: #EE2B7A;
		border-color: #EE2B7A;
		color: #fff;
	}
	.ancoraComoFunciona {
		background-color: transparent;
	}	
	.divAncoraComoFunciona {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
	}		
}

@media (min-width: 720px) {
	.bgTopo {
		background-image: url(../img/bg.jpg);  
		background-size: cover; 
		background-attachment: fixed;
	}	
}

@media (min-width: 1024px) {
	.bgTopo {
		background-image: url(../img/bg.jpg);  
		background-size: cover; 
		background-attachment: fixed;
	}
	.tituloTopo {
		font-weight: 20; 
		font-size: 120px; 
		color: #fff		
	}	
	.subTituloTopo {
		color: #fff; 
		font-size: 45px; 
		font-weight: bold
	}	
	.textoTopo {
		color: #fff; 
		font-size: 40px
	}	
	.divImagemAppTopo{
		background: transparent;
		display: flex; 
		align-items: 
		flex-end; 
		justify-content: flex-end; 
		position: relative;
	}	
	.imagemAppTopo{
		background-image: url(img/holdingCell.png);
		background-size: 85% 155%;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		margin-left: 17%;
		position: absolute;
		margin-top: 0%;
		padding-top: 100px; 
	}
	.divBtnTopoAndroid {
		text-align: right;
	}
	.divBtnTopoApple {
		text-align: left;
	}	
	.ancoraComoFunciona {
		background-color: grey;
		opacity: 0.6;
		justify-content: center;
		max-width: 50px;
		border-radius: 30px;
	}	
	.divAncoraComoFunciona {
		position: absolute;
		justify-content: center;
		width: 100%;
		bottom: 0;
	}	
}


